#title {
  text-align: center;
  font-size: 3rem;
}
.centered {
  text-align: center;
  font-size: 1.5rem;
}
#subtitle {
  font-size: 1.5rem;
}
div {
  background-color: gray;
}
li {
  list-style-type: none;
}
#content {
  text-decoration: underline;
  font-family: comic-sans-MS;
}
.monospaced {
  font-family: monospace;
}
