body{
    margin:0;
    font-family: poppins;
}
.container{
    min-height: 100vh;
}
.nav, .footer{
    background-color: rgba(87,87,87);
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.content{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
    display: flex;
}
